/* content */
body
{
	font-family:arial, helvetica, sans-serif;
	background-color: #F3F3F3;
	overflow-y: scroll;
	text-decoration: none;
	background-image: url("light_grey.png");
}

p
{
	text-align: center;
}

h5
{
	text-align: center;
}



h2
{
	text-align: center;
}

/*divs */
#container
{
	max-width: 960px;
	height: auto;
	display: block;
	margin: 0 auto;
	padding: 32px;
	background-color: #FFF;
	overflow: hidden;
}

#footer
{
	max-width: 960px;
	height: auto;
	display: block;
	margin: 0 auto;
	padding: 32px;
	background-color: #818181;
	overflow: hidden;
}

#img-con
{
	max-width: 400px;
	max-height: 550px;
	max-height: 100%;
	display: block;
	margin: 0 auto;
	padding: 20px;
	background-color: white;
	overflow: hidden;
	float: right;
}

#youtube
{
	text-align: center;
	position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

#social-media
{
	text-align: center;
}

/* content */
p
{
	text-decoration: none;
}

h2
{
	text-decoration: none;
	
}

h3
{
	text-align: center;
}

header
{
	background-color: #666;
	height: 150px;
	padding: 4px;
	overflow: hidden;
}

header h1
{
	text-align: center;
	color: #FFF;
	text-transform: uppercase;
	line-height: 50px;
}

header h2
{
	color: #FFF;
	text-align: center;
	font-variant: small-caps;
}

/*images */
.img-first
{
	max-width: 100%;
	margin: 10px 10px 10px 10px;
    box-shadow: 0 0 0 4px #fff;
}

.his
{
	margin: 10px 10px 10px 10px;
    box-shadow: 0 0 0 4px #fff;
}

.one
{
	max-width: 100%;
}

#youtube-logo
{
	display: none;
}

/*nav bar */
.navbar
{
	background-color: #818181;
	text-align: center;
	padding: 5px;
	line-height: 32px;
}

.navbar li
{
	display: inline;
}

.navbar a
{
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
	font-variant: small-caps;
	text-decoration: none;
	padding: 12px 20px 13px 19px;
}

.navbar a:hover
{
	background-color: #CCC;
	color: #666;
	
}

/* media screen phone and tablet */
@media screen and (max-width: 650px) 
{ 
	
	
	.navbar
	{
		display: block;
		width: 100%
		height: auto;
		padding: 0;
	}
	
	.navbar li
	{
		display: block;
		
	}
	
	.navbar a
	{
		display: block;
		padding: 0;
	}

	.img-first
	{
		max-width: 100%;
	}
	
	.his
	{
		max-width: 100%;
	}
	
	
}

/* media query for responsive images */
@media screen and (max-width: 536px)
{
	#img-con
	{
		max-width:46%;
	}
	
}

@media screen and (max-width: 326px)
{
	#img-con
	{
		max-width:100%;
	}
	
}

/* media querys to make the images responsive and unpadded*/
@media screen and (max-width: 672px)
{
	.img-first
	{
		min-width:100%;
		margin: 0px 0px 0px 0px;
		box-shadow: 0px 0px 0px 0px;
	}
	

}
	
@media screen and (max-width: 599px)
{
	.his
	{
		min-width:100%;
		margin: 0px 0px 0px 0px;
		box-shadow: 0px 0px 0px 0px;
	}
}


/* media query to make the picture appear instead of the youtube video*/
@media screen and (max-width: 910px)
	{
		#youtube
		{
			display:none
			
		}
		
		#youtube-logo
		{
			display: inline;
			max-width: 100%;
		}
		
	}
	
	












